Gemfile.lock
Berksfile.lock
test/gemfiles/*.lock
.kitchen/
.kitchen.local.yml
test/docker/
coverage/
pkg/
.yardoc/
doc/
/.uploaded-cookbook-version.json
/files/halite_gem/
/poise-*.gem
/lib/poise/#version.rb#
